html,
body,
#root {
  position: relative;
  height: 100%;
  margin: 0;
}
#root {
  background: #fff;
}

// 超链接样式
.link {
  color: $link-color;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
